* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: letter-content-font;
  src: url(./fonts/shesek-regular-fm.otf);
}

@font-face {
  font-family: letter-title-font;
  src: url(./fonts/avigul-bold-fm.otf);
}

body {
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(#ffda73, #cd8c00);
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  height: 557px;
  perspective: 800px;
  margin-bottom: 50px;
}

.flip > .card {
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 31px;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  display: flex;
  justify-content: center;
  background-image: url("./assets/niv_final_front.png");
  background-size: contain;
}

.back {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transform: rotateY(180deg);
  display: flex;
  background-image: url("./assets/back_code.jpg");
  background-size: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
  padding: 0 15px;
}

#back-footer {
  position: absolute;
  font-size: 37px;
  color: white;
  width: 50%;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10%;
}

#letter {
  position: relative;
  color: white;
  bottom: 27px;
}

#letter-title {
  font-family: letter-title-font;
}

#letter-content {
  font-family: letter-content-font;
}

.text-xxs {
  font-size: 13px;
}
.text-bni {
  font-size: 14px;
}
.text-xs {
  font-size: 15px;
}
.text-sm {
  font-size: 17px;
}
.text-md {
  font-size: 20px;
}
.text-lg {
  font-size: 23px;
}
.text-xl {
  font-size: 26px;
}

#logo {
  width: 283.7px;
  height: 283.7px;
  border-radius: 50%;
  position: relative;
  top: 18px;
  /* animation: glowing 2000ms infinite; */
}

#logo:active {
  animation: glowing2 2000ms infinite;
}

.back-icon:focus,
.back-icon:active {
  opacity: 60%;
}

.pressable:hover {
  cursor: pointer;
}

#phone {
  position: absolute;
  bottom: 62px;
  right: 40px;
  color: #cd3000;
  opacity: 40%;
  letter-spacing: 3px;
  transform: rotateZ(-4.5deg);
}

#photo {
  position: absolute;
  text-align: center;
  max-width: 90%;
  max-height: 80%;
  z-index: 1;
  border-radius: 10px;
  outline: 5px solid white;
  top: -100%;
  transition: top 500ms ease-in-out;
}

.fly-in {
  top: 20px !important;
}

.press {
  color: white;
  font-size: 65px;
  position: absolute;
  opacity: 100%;
  z-index: 1;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px #fff200;
  }
  40% {
    box-shadow: 0 0 25px #fff200;
  }
  60% {
    box-shadow: 0 0 25px #fff200;
  }
  100% {
    box-shadow: 0 0 -10px #fff200;
  }
}

@keyframes glowing2 {
  0% {
    box-shadow: 0 0 -10px #ff0000;
  }
  40% {
    box-shadow: 0 0 25px #ff0000;
  }
  60% {
    box-shadow: 0 0 25px #ff0000;
  }
  100% {
    box-shadow: 0 0 -10px #ff0000;
  }
}
